<div class="centered-content">
    <form [formGroup]="user" class="simple-form">
    <div class="white-box">
        <h1 class="title has-text-primary">Sign up</h1>
                <div class="field">
                        <div class="control has-icons-left has-icons-right ">
                            <input [class.is-invalid]="email.invalid && email.touched" formControlName="email" #email class="input has-background-grey-lighter" name="email" type="email" placeholder="Email">
                            <div *ngIf="email.invalid && email.touched">
                                <small *ngIf="email.errors?.required" class="text-danger">Primary email is required</small>
                                <!--question mark(?) is a safe navigation operator-->
                                <small *ngIf="email.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                            </div>
                            <!-- <small *ngIf="!email.valid && email.touched" id="emailHelp" class="form-text text-danger">please enter email address</small> -->
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                        </div>
                </div>
                <div class="field">
                    <p class="control has-icons-left ">
                        <input #password formControlName="password" class="input has-background-grey-lighter" type="password" placeholder="Password">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>
                    <div class="field" style="display: flex;justify-content: flex-end;">
                        <p class="control">
                            <!-- <button style="margin-right:15px" class="button is-success has-text-white to-left" [routerLink]="['/login']" routerLinkActive="router-link-active" >
                                Login
                            </button> -->
                            <button class="button is-success has-text-white to-right" (click)="signUpEvent(email.value,password.value)">
                                Sign up
                            </button>
                        </p>
                    </div>

                <p>Already got a account <a [routerLink]="['/login']" >Login</a> Now</p>
        </div>
    </form>
</div>
