
<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Create New Task
        </h1>
        <input class="input has-background-grey-lighter " type="text" name="title" placeholder="Enter New Task..." #title>
        <br><br>
        <div class="buttons is-right">
            <button class="button" [routerLink]="['/lists']" routerLinkActive="router-link-active">Cancel</button>
            <button class="button is-primary has-text-white" (click)="createTask(title.value)">Create</button>
        </div>
        </div>
    </div>
<router-outlet></router-outlet>